{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}
<section class="home-section">
  <div class="hero-banner">
    <div class="logo-container">
      <img src="{% static 'images/background-bitcoin.png' %}" alt="Logo" class="logo" />
    </div>
    <h1>Welcome to CoinWatch</h1>
    <h2>
      View live updates on the cryptocurrency market, track your favorite coins!
    <br>
    Access to the latest charts &amp; graphs!
    </h2>
  </div>
  {% if user.is_authenticated %}
  <div class="welcome-container">
    <h2>Welcome back, {{ user.username }}!</h2>
    
    <a href="{% url 'coin-watchlist' %}" class="btn">Go to My Watchlist</a>
    <a href="{% url 'coin-index' %}" class="btn">Explore All Coins</a>
  </div>
  {% else %}
  <div class="signup-prompt">
    <p>
      <a href="{% url 'signup' %}">Create Account</a> <br><br>
    </p>
  </div>
  <div class="login-container">
    <form action="{% url 'home' %}" method="post" class="login-form">
      <h2>Login to Your Account</h2>
      {% csrf_token %} {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn-submit">Login</button>
    </form>
    
  </div>
  {% endif %}
</section>
{% endblock %}
