.coin-grid {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    border-radius: 10px; 
}

.coin-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.coin-item a {
    text-decoration: none;
    color: #e3d6f5; 
    transition: color 0.3s; 
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}


.btn.submit {
    background-color: rgba(123, 87, 130, 0.7);
}

.btn.submit:hover {
    background-color: #d4b3ff;
    transform: translateY(-2px);
}

.btn.warn {
    background-color: rgba(255, 189, 89, 0.7);
}

.btn.warn:hover {
    background-color: #e68900;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .coin-grid {
        justify-content: center; 
    }

    .coin-item {
        width: 100%;
    }

    .button-group {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .coin-grid {
        flex-direction: column;
    }
}