.home-section {
  padding: 2rem;
  text-align: center;
}

body {
  color: #f5bc68;
}

.hero-banner {
  margin-bottom: auto;
}

.hero-banner h1 {
  font-size: 2.5rem;
  color: #ffbd59;
}

.hero-banner p {
  font-size: 1.2rem;
  color: white;
}

.hero-image {
  margin-top: 1rem;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.login-container {
  display: inline-block;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: rgba(116, 87, 130, 0.7);
  border-radius: 8px;
}

.login-form h2 {
  color: #ffbd59;
}

.login-form p {
  margin-bottom: 1.5rem;
  color: #ffbd59;
}

.signup-prompt {
  margin-top: auto;
  font-size: 0.9rem;
  color: #ffbd59;
}

.signup-prompt a {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  background-color: rgba(255, 189, 89, 0.7);
}

.signup-prompt a:hover {
  text-decoration: underline;
}

.home-section {
  display: grid;
  margin-left: 10;
  margin-right: 10;
  background-color: rgba(116, 87, 130, 0.7);
  padding: 2rem;
  align-items: center;
}

a.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    background-color: rgba(255, 189, 89, 0.7);
  
}

.container {
  width: 90%;
  margin: auto;
  background-color: rgba(123, 87, 130, 0.7);
}

.btn-submit {
  padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    background-color: rgba(255, 189, 89, 0.7);
}

@media (max-width: 768px) {
  .dynamic-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-nav {
    width: 100%;
    justify-content: space-between;
  }

  .nav-links > ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  #search-input {
    width: 100%; 
  }
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 200px;
    height: 200px;
    animation: dropSpin 3s ease-out;
    transform-origin: center; 
  }
  
  @keyframes dropSpin {
    0% {
      opacity: 0;
      transform: translateY(-100px) rotate(0deg); 
    }
    100% {
      transform: translateY(0) rotate(360deg);
    }
  }

  @media (max-width: 768px) {
    .logo {
      width: 80px;
      height: 80px;
    }
  }

@media (max-width: 480px) {
  .header-logo-container {
    margin-right: 0;
  }

  .search-wrapper {
    margin-right: 0;
  }

  .btn-gray {
    font-size: 14px;
    padding: 8px 15px;
  }
}

