.coin-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.coin-card {
  background-color: rgba(123, 87, 130, 0.7);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px; 
  box-shadow: 0 4px 10px rgba(184, 92, 243, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

.coin-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.coin-info p {
  color: rgba(255, 189, 89, 0.7);
  font-size: 1rem;
  margin: 5px 0;
}

.coin-info p.change-positive {
  color: #4caf50;
}

.coin-info p.change-negative {
  color: #f44336;
}

.btn-gray {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 189, 89, 0.7);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-gray:hover {
  background-color: #e68900;
  transform: translateY(-2px);
}

.coin-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(184, 92, 243, 0.6);
}

.header {
  text-align: center;
  color: rgba(255, 189, 89);
  margin-bottom: 20px;
}

h2 {
    color: rgba(255, 189, 89);
}

@media (max-width: 768px) {
  .coin-card {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .coin-grid {
    flex-direction: column;
  }
}
