{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %} {% block content %}

<div class="coin-container">
  <h1>Available Cryptocurrencies</h1>
  <h3>Updated at: {{coins.0.updated_at}}</h3>
  <div class="coin-grid">
    {% for coin in coins %}
    <div class="coin-item">
      <a href="{% url 'coin-detail' coin.symbol %}" >
      <img src="{{ coin.image }}" alt="{{ coin.name }}" />
      <h3>{{ coin.name }} ({{ coin.symbol }})</h3>
      <p>Price: ${{ coin.price }}</p>
    </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
