{% extends 'base.html' %}

{% block content %}
  <h1>{{ user.username }}'s Watchlist</h1>

  {% if watchlist.coin.all %}
    <ul>
      {% for coin in watchlist.coin.all %}
        <li>
          <strong>{{ coin.name }} ({{ coin.symbol }})</strong>
          <p>Price: ${{ coin.price }}</p>
          <p>Market Cap: {{ coin.market_cap }}</p>
          <p>Volume: {{ coin.volume }}</p>
          <p>Change: {{ coin.change }}%</p>
          # remove button error ('too many values to unpack')
          <a href="{% url 'remove-from-watchlist' coin.symbol %}">Remove from Watchlist</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Your watchlist is empty.</p>
  {% endif %}
{% endblock %}